<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar color="nav">
    <ion-title>
      {{ event.eventName }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="housing-image click">
    <img tappable class="eventImage animated fadeIn" [src]="event.eventImage"
      alt="" #myImage (click)="presentImage(myImage)" />
  </section>
  <ion-grid>
    <ion-row class="time-location" icon-only>
      <ion-col text-center col-2 class="vertical-align-content">
        {{ event.startDateAndTime | date:'MMM dd EEE'}}
        <div class="vertical-line vertical-align-content"></div>
      </ion-col>
      <ion-col class="name-city-time" col-7>
        <div style="font-weight: bold;">
          {{ event.eventName }}
        </div>
        <div class="location">City: {{ event.eventCity }}</div>
        <div class="location">
          Time: {{ event.startDateAndTime | date: 'h:mm a'
          }} - {{ event.endDateAndTime | date: 'h:mm a' }}
        </div>
      </ion-col>
      <ion-col class="vertical-align-content book"
        text-center>
        <button ion-button color="danger" (click)="bookTicket()">
          {{ bookingTitle }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr />
  <ion-grid>
    <ion-row text-center icon-only class="interested-going">
      <ion-col tappable (click)="handleInterestedOrGoing(event.key, 'interested')"
        class="click">
        <div *ngIf="!interested">
          <ion-icon color="gray" ios="ios-star-outline" md="md-star-outline">
          </ion-icon>
          <p class="responsive-font">Interested</p>
        </div>
        <div *ngIf="interested">
          <ion-icon color="primary" ios="ios-star" md="md-star"></ion-icon>
          <p class="responsive-font active">Interested</p>
        </div>

      </ion-col>
      <ion-col tappable (click)="handleInterestedOrGoing(event.key, 'going')"
        class="click">
        <div *ngIf="!going">
          <ion-icon color="gray" name="ios-checkmark-circle-outline"></ion-icon>
          <p class="responsive-font">Going</p>
        </div>
        <div *ngIf="going">
          <ion-icon color="primary" name="ios-checkmark-circle"></ion-icon>
          <p class="responsive-font active">Going</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr />
  <ion-grid>
    <ion-row class="time-location" icon-only>
      <ion-col col-2>
        <ion-icon ios="ios-time" md="md-time"></ion-icon>
      </ion-col>
      <ion-col>
        {{ event.startDateAndTime | date:'mediumDate' }}
        - {{
        event.endDateAndTime | date:'mediumDate' }}
      </ion-col>
    </ion-row>
    <ion-row class="time-location" icon-only>
      <ion-col col-2>
        <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
      </ion-col>
      <ion-col>
        {{ event.eventCity }}
        <br>
        <div class="location">{{ event.eventLocation}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr />
  <ion-row text-center style="font-weight: bold">
    <ion-col tappable class="click" (click)="goToInterestedOrGoingUsersPage('interested')">
      Interested ({{ interestedCount }})
    </ion-col>
    <ion-col tappable class="click" (click)="goToInterestedOrGoingUsersPage('going')">
      Going ({{ goingCount }})
    </ion-col>
    <ion-col tappable class="click" (click)="goToInterestedOrGoingUsersPage('Buyed')">
      Buyed (0)
    </ion-col>
  </ion-row>

  <hr class="hr" />
  <div class="space"></div>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="about" class="click">
      About
      <div class="vertical-line full-line"></div>
    </ion-segment-button>
    <ion-segment-button class="click" value="discussion"
      (ionSelect)="fetchDiscussionPosts()">
      Discussion
    </ion-segment-button>
  </ion-segment>
  <div class="space"></div>
  <div [ngSwitch]="type">

    <div *ngSwitchCase="'about'">
      <section class="main-content">
        <ion-grid class="listing-details">
          <ion-row text-center>
            <ion-col class="categories-card click">
              <ion-icon name="pin"></ion-icon>{{event.eventCity}}
            </ion-col>
            <ion-col tappable class="categories-card click"
              (click)="goToReviewsPage()">
              <ion-icon ios="ios-star" md="md-star"></ion-icon>
              Reviews
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card class="categories-card" *ngIf="event.eventShowcases">
          <ion-card-header>
            <strong>VOTE FOR Showcase</strong>
          </ion-card-header>

          <ion-card-content>
            <p *ngFor="let showcase of event.eventShowcases">
              {{ showcase.name }}
              <strong class="vote">
                {{ showcase.totalVotes }}
              </strong>
            </p>
            <button ion-button block clear color="primary-one"
              (click)="goToSubmitVotePage()">
              Submit Vote
            </button>
          </ion-card-content>
        </ion-card>

        <ion-card class="categories-card">
          <ion-card-header>
            <strong>EVENT DESCRIPTION</strong>
          </ion-card-header>

          <ion-card-content>
            <pre class="description">{{event.eventDescription}}</pre>
          </ion-card-content>
        </ion-card>

      </section>
    </div>

    <div *ngSwitchCase="'discussion'" style="background-color: #e0e0e0">
      <ion-card class="categories-card">
        <ion-item tappable class="profile-avatar click"
          (click)="createPost()">
          <ion-avatar item-start>
            <img class="cover-image" [src]="currentUserDetails.profilePhoto" />
          </ion-avatar>
          <h2 style="color: gray">Write something...</h2>
        </ion-item>
      </ion-card>
      <div *ngIf="!posts" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <ion-card *ngFor="let post of posts" class="categories-card">
        <ion-item *ngIf="post.userDetails">
          <ion-avatar tappable item-start (click)="goToProfilePage(post.userDetails)">
            <img class="cover-image animated fadeIn delay-3s"
              [src]="post.userDetails.profilePhoto" />
          </ion-avatar>
          <h2 tappable (click)="goToProfilePage(post.userDetails)">{{
            post.userDetails.userName }}</h2>
          <div class="options">
            <button *ngIf="post.myPost" ion-button
              icon-left clear large (click)="presentPopover(post, event.key)">
              <ion-icon name="ios-more"></ion-icon>
            </button>
          </div>
          <p>{{post.date | date:'mediumDate'}} at
            {{post.date | date:'shortTime'}}</p>
        </ion-item>
        <div *ngIf="post.imageUrl">
          <img class="contain-image click" (load)="loaded = true"
            [ngClass]="{'animated fadeIn delay-3s': loaded}"
            [src]="post.imageUrl" #postImage (click)="presentImage(postImage)" />
        </div>
        <ion-card-content>
          <div *ngIf="!showMore" [ngClass]="{'textual-content': !post.imageUrl, 'textual-content-image': post.imageUrl}">{{
            post.textualContent.substring(0, 120) }}
            <div tappable (click)="changeContentLength()"
              [ngClass]="{'read-more click': post.textualContent.length > 120, 'hidden': 120 >= post.textualContent.length}">
              Read more...
            </div>
          </div>
          <div *ngIf="showMore" [ngClass]="{'textual-content': !post.imageUrl, 'textual-content-image': post.imageUrl}">{{
            post.textualContent }}
            <div tappable (click)="changeContentLength()"
              [ngClass]="{'read-more click': post.textualContent.length > 120, 'hidden': 120 >= post.textualContent.length}">
              Read less...
            </div>
          </div>
          <button ion-button clear small icon-left class="likes"
            *ngIf="post.totalLikes > 0" (click)="showUsers(post.likes)">
            <ion-icon color="danger" name="md-heart"></ion-icon>
            {{ post.totalLikes }}
          </button>
        </ion-card-content>
        <ion-row text-center>
          <ion-col>
            <button ion-button color="purple" clear small
              icon-left (click)="like(post)" *ngIf="!post.isLiking">
              <ion-icon class="animated bounceIn" name="md-heart-outline"></ion-icon>
              {{ post.totalLikes }} Likes
            </button>
            <button ion-button color="purple" clear small
              icon-left (click)="unlike(post)" *ngIf="post.isLiking">
              <ion-icon class="animated bounceIn" name="ios-heart"
                color="danger"></ion-icon>
              {{ post.totalLikes }} Likes
            </button>
          </ion-col>
          <ion-col>
            <button ion-button color="purple" clear small
              icon-left (click)="openCommentsModal(post, event.key)">
              <ion-icon name='ios-text-outline'></ion-icon>
              {{ post.totalComments }} Comments
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <p style="color: gray">
              {{ post.date | amTimeAgo }}
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>


  <ion-fab bottom right #fab>
    <button ion-fab [hideFabOnscroll]='content'>
      <ion-icon name="share"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button color="twitter" ion-fab>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button color="instagram" (click)="shareOnInstagram(fab)"
        ion-fab>
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
      <button color="secondary" (click)="shareOnWhatsApp(fab)"
        ion-fab>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
      <button color="facebook" ion-fab>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
