chat-list-page {
  .note-md {
    font-size: 13px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .list-header-md {
    margin: 0px;
  }

  .image-container .after {
    position: absolute;
    left: 45px;
    top: 42px;
    height: 14px;
    width: 14px;
    float: right;
  }
}
