notifications-page {
  .categories-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* border-color: #387ef5;
    border-style: solid; */
    display: inline-block;
    margin: 7.5px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
